package invoice

import (
	"github.com/invopop/gobl/org"
	"github.com/invopop/gobl.html/components/organizing"
	"github.com/invopop/gobl.html/components/t"
)

templ customer(party *org.Party) {
	<section class="customer">
		<h2>
			@t.T("billing.invoice.customer.title")
		</h2>
		@organizing.Party(party)
	</section>
}
