package invoice

import (
	"github.com/invopop/gobl/bill"
	"github.com/invopop/gobl.html/components/org"
	"github.com/invopop/gobl.html/components/t"
)

templ customer(inv *bill.Invoice) {
	<section class="customer">
		<h2>
			@t.T("billing.invoice.customer.title")
		</h2>
		@org.Party(inv.Customer)
	</section>
}
