package invoice

import (
	"github.com/invopop/gobl.html/components/org"
	"github.com/invopop/gobl.html/components/t"
	"github.com/invopop/gobl/bill"
)

templ customer(inv *bill.Invoice) {
	<section class="customer">
		<div>
			<h2>
				if inv.Customer != nil && inv.Customer.Label != "" {
					{ inv.Customer.Label }
				} else {
					@t.T("billing.invoice.customer.title")
				}
			</h2>
			@org.Party(inv.Customer)
		</div>
	</section>
}
