package bill

import (
	gorg "github.com/invopop/gobl/org"
	"github.com/invopop/gobl.html/components/org"
	"github.com/invopop/gobl.html/components/t"
)

templ customer(cus *gorg.Party) {
	<section class="customer">
		<div class="customer-border">
			<h2>
				if cus != nil && cus.Label != "" {
					{ cus.Label }
				} else {
					@t.T("billing.invoice.customer.title")
				}
			</h2>
			@org.Party(cus)
		</div>
	</section>
}
