package bill

import (
	gorg "github.com/invopop/gobl/org"
	"github.com/invopop/gobl.html/components/org"
	"github.com/invopop/gobl.html/components/t"
)

templ party(par *gorg.Party, key string) {
	<section class={ key }>
		<div class="party-border">
			<h2>
				if par != nil && par.Label != "" {
					{ par.Label }
				} else {
					@t.T("." + key + ".title")
				}
			</h2>
			@org.Party(par)
		</div>
	</section>
}
