package bill

import (
	"github.com/invopop/gobl/bill"
	"github.com/invopop/gobl.html/components/org"
	"github.com/invopop/gobl.html/components/t"
)

templ supplier(inv *bill.Invoice) {
	<section class="supplier">
		<h2>
			if inv.Supplier != nil && inv.Supplier.Label != "" {
				{ inv.Supplier.Label }
			} else {
				@t.T("billing.invoice.supplier.title")
			}
		</h2>
		@org.Party(inv.Supplier)
	</section>
}
