package bill

import (
	gorg "github.com/invopop/gobl/org"
	"github.com/invopop/gobl.html/components/org"
	"github.com/invopop/gobl.html/components/t"
)

templ supplier(sup *gorg.Party) {
	<section class="supplier">
		<h2>
			if sup != nil && sup.Label != "" {
				{ sup.Label }
			} else {
				@t.T("billing.invoice.supplier.title")
			}
		</h2>
		@org.Party(sup)
	</section>
}
