package mx

import (
	"github.com/invopop/gobl/addons/mx/cfdi"
	"github.com/invopop/gobl/bill"
)

// LineExtensions will add extra information to the line for Mexico.
templ LineExtensions(line *bill.Line) {
	if line.Item.Ext.Has(cfdi.ExtKeyProdServ) {
		<span class="subline">
			<span class="label">Clave SAT</span>
			<code>{ line.Item.Ext[cfdi.ExtKeyProdServ] }</code>
		</span>
	}
}
