/* Increase bottom margin to fit the QR code inside the page footer */
@page {
  margin-bottom: 48mm;
}
@page Letter {
  margin-bottom: 48mm;
}

footer.print {
  height: auto;
}

.dian-qr {
  display: flex;
  align-items: flex-end;
  font-family: monospace;
  font-size: 7pt;
  line-height: 1.45;
  text-align: left;
  margin-bottom: 4mm;
}

.dian-qr .image {
  margin-right: 6mm;
}

.dian-qr .provider {
  text-transform: uppercase;
}

.dian-qr .codes {
  margin-top: 3mm;
}

.dian-qr .label {
  font-weight: bold;
  text-transform: uppercase;
  margin-right: 1ch;
}

.dian-qr img {
  width: 24mm;
  height: 24mm;
}
