header {
    width: 100%;
    display: flex;
    flex-flow: row wrap;
    border-bottom: 0.5px solid #E5E7EB;
}
header div.details {
    flex: 1;
    border-right: 0.5px solid #E5E7EB;
}
header div.contacts {
    flex: 1;
    /*display: flex;
    flex-flow: column wrap;*/
}
section {
    padding: 0mm;
    /* width: 100%; */
    flex: 100%;
}
section.title {
    padding-top: 0mm;
    padding-bottom: 6mm;
}
section.title .hero {
    margin-bottom: 6mm;
}
section.title .alias {
    font-size: 16pt;
    font-weight: bold;
    color: #030712;
}
section.title .hero img {
    max-width: 100%;
    /* max-height: 10mm; */
}
section.title h2.code {
    font-size: 12pt;
    color: #030712;
    font-weight: 600;
}
section.summary {
    padding-right: 6mm;
    padding-top: 0mm;
    padding-bottom: 0mm;
}
section.summary h2.title {
    display: none;
}
section.summary ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-flow: row wrap;
}
section.summary li {
    margin-bottom: 6mm;
    flex: 50%;
}
section.summary span.label {
    display: block;
    font-weight: 500;
}
section.summary span.value {
    display: block;
    color: #030712;
}
section.supplier {
    padding: 6mm;
    padding-top: 0mm;
}
section.customer {
    padding: 6mm;
    border-top: 0.5px solid #E5E7EB;
}
section.lines {
    order: 5;
    padding-top: 6mm;
    padding-bottom: 0mm;
}
section.lines h2 {
    display: none;
}
section.lines table {
    width: 100%;
}
section.lines th, section.lines td {
    text-align: left;
    border-bottom: 0.5px solid #E5E7EB;
    padding: 1.5mm 2mm;
    margin: 0px;
}
section.lines th {
    font-weight: 600;
    background-color: #F3F4F6;
}
section.lines .i,
section.lines .ref {
    width: fit-content;
}
section.lines .price,
section.lines .quantity,
section.lines .tax,
section.lines .discount,
section.lines .charge,
section.lines .total {
    text-align: right;
    width: fit-content;
    white-space: nowrap;
}
section.lines .description,
section.lines .reason {
    white-space: wrap;
}
section.lines .label {
    font-weight: 500;
}
section.lines .description .extensions {
    display: block;
}
section.lines .description .extensions .label {
    font-weight: 500;
}
section.lines .alt-price {
    display: block;
    font-style: italic;
}
section.lines .alt-price:before {
    content: '(';
}
section.lines .alt-price:after {
    content: ')';
}
div.totals {
    order: 8;
    display: flex;
    flex-wrap: row;
    width: 100%;
    padding-top: 6mm;
    border-bottom: 0.5px solid #E5E7EB;
    padding-bottom: 4mm;
}
div.totals td, div.totals th {
    padding: 1.5mm 2mm;
}
section.totals {
    order: 2;
    flex: 1;
}
section.totals h2 {
    display: none;
}
section.totals table {
    padding-right: 1cm;
    padding-left: 1cm;
    width: auto;
    margin-right: 0;
    margin-left: auto;
}
section.totals th {
    text-align: right;
    border-bottom: 0.5px solid #E5E7EB;
    font-weight: normal;
}
section.totals td {
    text-align: right;
    border-bottom: 0.5px solid #E5E7EB;
}
section.totals tr:last-child th,
section.totals tr:last-child td {
    border-bottom: 0;
}
section.totals tr.strong th,
section.totals tr.strong td {
    font-weight: 600;
}
section.totals .exchange-rate {
    font-style: italic;
}
section.taxes {
    order: 1;
    flex: 1;
}
section.taxes h2 {
    display: none;
}
section.taxes table {
    padding-right: 1cm;
    padding-left: 1cm;
    margin-left: 0;
    width: 90%;
}
section.taxes th, section.taxes td {
    text-align: right;
    padding: 1.5mm 2mm;
}
section.taxes th {
    background-color: #F3F4F6;
    font-weight: 600;
}
section.taxes td {
    border-bottom: 0.5px solid #E5E7EB;
}
section.taxes tr:last-child td {
    border-bottom: 0;
}
section.taxes th.category,
section.taxes td.category {
    text-align: left;
}
section.payment {
    border-bottom: 0.5px solid #E5E7EB;
    padding: 6mm 0mm;
    order: 10;
    display: flex;
    flex-flow: row;
    break-inside: avoid;
}
section.payment h2.title {
    display: none;
}
section.payment ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
section.payment ul.instructions {
    margin-right: 6mm;
}
section.payment li {
    margin-bottom: 3mm;
}
section.payment li:last-child {
    margin-bottom: 0;
}
section.payment span.label {
    display: block;
    font-weight: 500;
}
section.payment span.value {
    display: block;
}
section.payment table td {
    padding-right: 3mm;
}
section.payment .due-dates span.percent:before {
    content: "("
}
section.payment .due-dates span.percent:after {
    content: ")"
}
section.notes {
    padding-top: 6mm;
    padding-bottom: 3mm;
    border-bottom: 0.5px solid #E5E7EB;
    break-inside: avoid;
}
section.notes .note {
    margin-bottom: 3mm;
}
.extensions section {
    break-inside: avoid;
    padding-top: 6mm;
    padding-bottom: 6mm;
    border-bottom: 0.5px solid #E5E7EB;
}
.extensions:empty {
    display: none;
}
.org-party .name {
    font-weight: 600;
    font-size: 12pt;
    line-height: 20pt;
    color: #030712;
}